* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 75px;
  background-color: lightcoral;
  top: 0;
  width: 100%;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav > ol {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ol {
    flex-direction: column;
  }
}

.header {
  display: flex;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

@media (max-width: 600px) {
  #hero {
    margin-top: 150px;
  }
}

.grid {
  display: flex;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: #eb5252;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

#video-guide {
  display: flex;
  justify-content: center;
}

iframe {
  max-width: 540px;
  width: 100%;
}

#pricing {
  margin: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.level {
  text-transform: uppercase;
  background: #f08080;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px;
  align-items: center;
  width: calc(100% / 3);
}

@media (max-width: 830px) {
  #pricing {
    flex-direction: column;
  }

  .product {
    min-width: 300px;
  }
}

.hero-form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero input[type="email"] {
  width: 100%;
  max-width: 275px;
}

.btn {
  width: 100%;
  background-color: #eb5252;
  margin: 10px;
  max-width: 150px;
  border-radius: 2px;
}
